<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{client/layouts/client-layout}">

<head>
    <title>FruitCart</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="section-hero padding-b-100 next">
            <div class="cr-slider swiper-container swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper" id="swiper-wrapper-71042ab5dea5a3651" aria-live="off"
                    style="transition: all; transform: translate3d(-5715px, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                        data-swiper-slide-index="1" role="group" aria-label="1 / 4" style="width: 1905px;">
                        <div class="cr-hero-banner cr-banner-image-one">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cr-left-side-contain slider-animation">
                                            <h5><span>100%</span> Trái Cây Tươi Sạch</h5>
                                            <h1>Mang Vị Ngon Thiên Nhiên Đến Nhà Bạn.</h1>
                                            <p>Khám phá thế giới trái cây tươi ngon, đa dạng chủng loại, đảm bảo chất
                                                lượng và an toàn cho sức khỏe.</p>
                                            <div class="cr-last-buttons">
                                                <a href="shop-left-sidebar.html" class="cr-button">
                                                    Mua Ngay
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group"
                        aria-label="2 / 4" style="width: 1905px;">
                        <div class="cr-hero-banner cr-banner-image-two">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cr-left-side-contain slider-animation">
                                            <h5><span>100%</span> Trái Cây Hữu Cơ</h5>
                                            <h1>Khám Phá Vị Tươi Mát &amp; Mọng Nước.</h1>
                                            <p>Chúng tôi cam kết mang đến những loại trái cây tươi ngon nhất, được lựa
                                                chọn kỹ lưỡng từ các nhà vườn uy tín.</p>
                                            <div class="cr-last-buttons">
                                                <a href="shop-left-sidebar.html" class="cr-button">
                                                    Mua Ngay
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1"
                        role="group" aria-label="3 / 4" style="width: 1905px;">
                        <div class="cr-hero-banner cr-banner-image-one">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cr-left-side-contain slider-animation">
                                            <h5><span>100%</span> Trái Cây Tươi Sạch</h5>
                                            <h1>Mang Vị Ngon Thiên Nhiên Đến Nhà Bạn.</h1>
                                            <p>Khám phá thế giới trái cây tươi ngon, đa dạng chủng loại, đảm bảo chất
                                                lượng và an toàn cho sức khỏe.</p>
                                            <div class="cr-last-buttons">
                                                <a href="shop-left-sidebar.html" class="cr-button">
                                                    Mua Ngay
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0"
                        role="group" aria-label="4 / 4" style="width: 1905px;">
                        <div class="cr-hero-banner cr-banner-image-two">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="cr-left-side-contain slider-animation">
                                            <h5><span>100%</span> Trái Cây Hữu Cơ</h5>
                                            <h1>Khám Phá Vị Tươi Mát &amp; Mọng Nước.</h1>
                                            <p>Chúng tôi cam kết mang đến những loại trái cây tươi ngon nhất, được lựa
                                                chọn kỹ lưỡng từ các nhà vườn uy tín.</p>
                                            <div class="cr-last-buttons">
                                                <a href="shop-left-sidebar.html" class="cr-button">
                                                    Mua Ngay
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                        class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                        aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0"
                        role="button" aria-label="Go to slide 2"></span></div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    </section>
    </div>
</body>

</html>