<div class="cr-cart-view">
    <div class="cr-cart-inner">
        <div class="cr-cart-top">
            <div class="cr-cart-title">
                <h6>Giỏ hàng</h6>
                <button type="button" class="close-cart">×</button>
            </div>
            <ul class="crcart-pro-items" id="sidebar-cart-items-list">
            </ul>
        </div>
        <div class="cr-cart-bottom">
            <div class="cart-sub-total">
                <table class="table cart-table">
                    <tbody>
                    <tr>
                        <td class="text-left">Tổng tiền:</td>
                        <td class="text-right fw-bold" id="sidebar-cart-grand-total">0đ</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart_btn">
                <a th:href="@{/gio-hang}" class="cr-button">Xem giỏ hàng</a>
                <a th:href="@{/thanh-toan}" class="cr-btn-secondary">Thanh toán</a>
            </div>
        </div>
    </div>
</div>
