<footer class="footer padding-t-100 bg-off-white">
    <div class="container">
        <div class="row footer-top padding-b-100">
            <div class="col-xl-4 col-lg-6 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer-logo">
                    <div class="image">
                        <img th:src="@{/client/assets/img/logo/logo.png}" alt="logo" class="logo">
                        <img th:src="@{/client/assets/img/logo/dark-logo.png}" alt="logo" class="dark-logo">
                    </div>
                    <p>Fruicart – Nguồn cung cấp trái cây chất lượng!</p>
                </div>
                <div class="cr-footer">
                    <h4 class="cr-sub-title cr-title-hidden">
                        Contact us
                        <span class="cr-heading-res"></span>
                    </h4>
                    <ul class="cr-footer-links cr-footer-dropdown">
                        <li class="location-icon">
                            Đường Z 115, Quyết Thắng, Thành phố Thái Nguyên, Thái Nguyên.
                        </li>
                        <li class="mail-icon">
                            <a href="javascript:void(0)">lanhatthang1910@gmail.com</a>
                        </li>
                        <li class="phone-icon">
                            <a href="javascript:void(0)"> 0498018458</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer">
                    <h4 class="cr-sub-title">
                        Công ty
                        <span class="cr-heading-res"></span>
                    </h4>
                    <ul class="cr-footer-links cr-footer-dropdown">
                        <li><a href="about.html">Về chúng tôi</a></li>
                        <li><a href="track-order.html">Thông tin giao hàng</a></li>
                        <li><a href="policy.html">Chính sách bảo mật</a></li>
                        <li><a href="terms.html">Điều khoản sử dụng</a></li>
                        <li><a href="contact-us.html">Liên hệ chúng tôi</a></li>
                        <li><a href="faq.html">Trung tâm hỗ trợ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer">
                    <h4 class="cr-sub-title">
                        Thể loại
                        <span class="cr-heading-res"></span>
                    </h4>
                    <ul class="cr-footer-links cr-footer-dropdown">
                        <li><a href="shop-left-sidebar.html">Dairy & Bakery</a></li>
                        <li><a href="shop-left-sidebar.html">Fruits & Vegetable</a></li>
                        <li><a href="shop-left-sidebar.html">Snack & Spice</a></li>
                        <li><a href="shop-left-sidebar.html">Juice & Drinks</a></li>
                        <li><a href="shop-left-sidebar.html">Chicken & Meat</a></li>
                        <li><a href="shop-left-sidebar.html">Fast Food</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer cr-newsletter">
                    <h4 class="cr-sub-title">
                        Đăng ký nhận bản tin
                        <span class="cr-heading-res"></span>
                    </h4>
                    <div class="cr-footer-links cr-footer-dropdown">
                        <form class="cr-search-footer">
                            <input class="search-input" type="text" placeholder="Tìm kiếm...">
                            <a href="javascript:void(0)" class="search-btn">
                                <i class="ri-send-plane-fill"></i>
                            </a>
                        </form>
                    </div>
                    <div class="cr-social-media">
                        <span><a href="javascript:void(0)"><i class="ri-facebook-line"></i></a></span>
                        <span><a href="javascript:void(0)"><i class="ri-instagram-line"></i></a></span>
                    </div>
                    <div class="cr-payment">
                        <div class="cr-insta-slider swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/1.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/2.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/3.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/4.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/5.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/6.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/7.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cr-payment-image">
                                        <img th:src="@{/client/assets/img/insta/8.jpg}" alt="insta">
                                        <div class="payment-overlay"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cr-last-footer">
            <p>&copy; <span id="copyright_year"></span> <a th:href="@{/}">Thorfinn</a>, All rights reserved.</p>
        </div>
    </div>
</footer>