<footer class="footer padding-t-100 bg-off-white">
    <div class="container">
        <div class="row footer-top padding-b-100">
            <div class="col-xl-4 col-lg-6 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer-logo">
                    <div class="image">
                        <img th:src="@{/client/assets/img/logo/logo.png}" alt="logo" class="logo">
                    </div>
                    <p>Fruitcart – Nguồn cung cấp trái cây chất lượng!</p>
                </div>
                <div class="cr-footer">
                    <h4 class="cr-sub-title cr-title-hidden">
                        Liên hệ
                        <span class="cr-heading-res"></span>
                    </h4>
                    <ul class="cr-footer-links cr-footer-dropdown">
                        <li class="location-icon">
                            Đường Z 115, Quyết Thắng, Thành phố Thái Nguyên, Thái Nguyên.
                        </li>
                        <li class="mail-icon">
                            <a href="mailto:lanhatthang1910@gmail.com">lanhatthang1910@gmail.com</a>
                        </li>
                        <li class="phone-icon">
                            <a href="tel:0398018458">0398018458</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-2 col-lg-3 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer">
                    <h4 class="cr-sub-title">
                        Danh mục
                        <span class="cr-heading-res"></span>
                    </h4>
                    <ul class="cr-footer-links cr-footer-dropdown" th:if="${headerCategories != null}">
                        <li th:each="category : ${headerCategories}">
                            <a th:href="@{/san-pham(categoryId=${category.id})}" th:text="${category.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-2 col-lg-3 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer">
                    <h4 class="cr-sub-title">
                        Nguồn gốc
                        <span class="cr-heading-res"></span>
                    </h4>
                    <ul class="cr-footer-links cr-footer-dropdown" th:if="${headerOrigins != null}">
                        <li th:each="origin : ${headerOrigins}">
                            <a th:href="@{/san-pham(originId=${origin.id})}" th:text="${origin.name}"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 col-sm-12 col-12 cr-footer-border">
                <div class="cr-footer cr-newsletter">
                    <h4 class="cr-sub-title">
                        Đăng ký nhận bản tin
                        <span class="cr-heading-res"></span>
                    </h4>
                    <div class="cr-footer-links cr-footer-dropdown">
                        <form class="cr-search-footer">
                            <input class="search-input" type="text" placeholder="Địa chỉ email của bạn...">
                            <button type="submit" class="search-btn border-0">
                                <i class="ri-send-plane-fill"></i>
                            </button>
                        </form>
                    </div>
                    <div class="cr-social-media">
                        <span><a href="javascript:void(0)"><i class="ri-facebook-line"></i></a></span>
                        <span><a href="javascript:void(0)"><i class="ri-instagram-line"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cr-last-footer">
            <p>&copy; <span id="copyright_year"></span> <a th:href="@{/}">Thorfinn</a>. Đã đăng ký bản quyền.</p>
        </div>
    </div>
</footer>