<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top-header">
                    <a th:href="@{/}" class="cr-logo">
                        <img th:src="@{/client/assets/img/logo/logo.png}" alt="logo" class="logo">
                    </a>

                    <form class="cr-search">
                        <input class="search-input" type="text" placeholder="Tìm kiếm...">
                        <a href="javascript:void(0)" class="search-btn">
                            <i class="ri-search-line"></i>
                        </a>
                    </form>

                    <div class="cr-right-bar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown" th:unless="${session.loggedInUser}">
                                <a class="nav-link dropdown-toggle cr-right-bar-item" href="javascript:void(0)">
                                    <i class="ri-user-3-line"></i>
                                    <span>Tài khoản</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/register}">Đăng ký</a></li>
                                    <li><a class="dropdown-item" th:href="@{/login}">Đăng nhập</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" th:if="${session.loggedInUser}">
                                <a class="nav-link dropdown-toggle cr-right-bar-item" href="javascript:void(0)" style="padding: 0px 8px;">
                                    <th:block th:if="${session.loggedInUser.avatar}">
                                        <img th:src="@{${session.loggedInUser.avatar}}" alt="Avatar"
                                            class="rounded-circle"
                                            style="width: 30px; height: 30px; object-fit: cover; margin-right: 5px;">
                                    </th:block>
                                    <i class="ri-user-3-line" th:unless="${session.loggedInUser.avatar}"></i>
                                    <span th:text="${#strings.capitalizeWords(session.loggedInUser.fullName)}"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li sec:authorize="hasRole('ADMIN')">
                                        <a class="dropdown-item" th:href="@{/admin}">Trang quản trị</a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/profile}">Hồ sơ cá nhân</a></li>
                                    <li>
                                        <form id="logoutForm" th:action="@{/logout}" method="post">
                                            <a href="#" onclick="document.getElementById('logoutForm').submit()"
                                                class="dropdown-item">Đăng
                                                xuất</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="cr-right-bar-item Shopping-toggle"
                            th:if="${session.loggedInUser}">
                            <i class="ri-shopping-cart-line"></i>
                            <span>Giỏ hàng</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cr-fix" id="cr-main-menu-desk">
        <div class="container">
            <div class="cr-menu-list">
                <div class="cr-category-icon-block">
                    <div class="cr-category-menu">
                        <div class="cr-category-toggle">
                            <i class="ri-menu-2-line"></i>
                        </div>
                    </div>
                    <div class="cr-cat-dropdown">
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg">
                    <a href="javascript:void(0)" class="navbar-toggler shadow-none">
                        <i class="ri-menu-3-line"></i>
                    </a>

                    <div class="cr-header-buttons">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown" th:if="${session.loggedInUser}">
                                <a class="nav-link" href="javascript:void(0)">
                                    <th:block th:if="${session.loggedInUser.avatar}">
                                        <img th:src="@{${session.loggedInUser.avatar}}" alt="Avatar"
                                            class="rounded-circle"
                                            style="width: 30px; height: 30px; object-fit: cover;">
                                    </th:block>
                                    <i class="ri-user-3-line" th:unless="${session.loggedInUser.avatar}"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li sec:authorize="hasRole('ADMIN')">
                                        <a class="dropdown-item" th:href="@{/admin}">Trang quản trị</a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/profile}">Thông tin cá nhân</a></li>
                                    <li>
                                        <form id="logoutFormMobile" th:action="@{/logout}" method="post">
                                            <a href="#" onclick="document.getElementById('logoutFormMobile').submit()"
                                                class="dropdown-item">Đăng
                                                xuất</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown" th:unless="${session.loggedInUser}">
                                <a class="nav-link" href="javascript:void(0)">
                                    <i class="ri-user-3-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/register}">Đăng ký</a></li>
                                    <li><a class="dropdown-item" th:href="@{/login}">Đăng nhập</a></li>
                                </ul>
                            </li>
                        </ul>

                        <a href="javascript:void(0)" class="cr-right-bar-item Shopping-toggle"
                            th:if="${session.loggedInUser}">
                            <i class="ri-shopping-cart-line"></i>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/products}">Sản phẩm</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="cr-calling">
                    <i class="ri-phone-line"></i>
                    <a href="javascript:void(0)">0398018458</a>
                </div>
            </div>
        </div>
    </div>
</header>