<div>
    <div class="cr-sidebar-overlay"></div>
    <div id="cr_mobile_menu" class="cr-side-cart cr-mobile-menu">
        <div class="cr-menu-title">
            <span class="menu-title">Menu</span>
            <button type="button" class="cr-close">×</button>
        </div>
        <div class="cr-menu-inner">
            <div class="cr-menu-content">
                <ul>
                    <li>
                        <a th:href="@{/}">Trang chủ</a>
                    </li>
                    <li>
                        <a th:href="@{/san-pham}">Sản phẩm</a>
                    </li>
                    <li>
                        <a th:href="@{/contact}">Liên hệ</a>
                    </li>
                    <li>
                        <a th:href="@{/about-us}">Về chúng tôi</a>
                    </li>

                    <hr/>
                    <li class="dropdown drop-list" th:if="${session.loggedInUser}">
                        <span class="menu-toggle"></span>
                        <a href="javascript:void(0)" class="dropdown-list">
                            <th:block th:if="${session.loggedInUser.avatar}">
                                <img th:src="@{${session.loggedInUser.avatar}}" alt="Avatar"
                                     style="width: 24px; height: 24px; object-fit: cover; border-radius: 50%; margin-right: 8px;">
                            </th:block>
                            <span th:text="${session.loggedInUser.fullName}"></span>
                        </a>
                        <ul class="sub-menu">
                            <li sec:authorize="hasRole('Admin')">
                                <a th:href="@{/admin}">Trang quản trị</a>
                            </li>
                            <li><a th:href="@{/profile}">Hồ sơ cá nhân</a></li>
                            <li>
                                <form id="logoutFormMobileMenu" th:action="@{/logout}" method="post">
                                    <a href="#" onclick="document.getElementById('logoutFormMobileMenu').submit()">Đăng
                                        xuất</a>
                                </form>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown drop-list" th:unless="${session.loggedInUser}">
                        <span class="menu-toggle"></span>
                        <a href="javascript:void(0)" class="dropdown-list">Tài khoản</a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/register}">Đăng ký</a></li>
                            <li><a th:href="@{/login}">Đăng nhập</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>