<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/admin-layout}">

<head>
    <title th:text="${pageMetadata.title}"></title>
    <style>
        .sortable-header a {
            display: block;
            text-decoration: none;
            color: #64b496;
        }

        .sortable-header .sort-icon {
            margin-left: 5px;
            font-size: 0.8em;
            color: #64b496 !important;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div th:remove="all">
            <th:block th:fragment="sort_header(field, text)">
                <a th:href="@{/admin/products(
                    page=${productsPage.number},
                    size=${productsPage.size},
                    sort=${field} + ',' + (${currentSortField} == ${field} ? ${reverseSortDir} : 'asc'),
                    keyword=${criteria.keyword},
                    categoryId=${criteria.categoryId},
                    originId=${criteria.originId},
                    status=${criteria.status}
                )}" th:classappend="${currentSortField == field} ? 'text-color-primary fw-bold' : ''">

                    <span th:text="${text}"></span>

                    <span th:if="${currentSortField} == ${field}" class="sort-icon"
                        th:classappend="${currentSortDir == 'asc'} ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></span>

                    <span th:if="${currentSortField != field}"
                        class="sort-icon text-muted ri-arrow-up-down-line"></span>
                </a>
            </th:block>

            <th:block th:fragment="page_link(page, text, disabledCondition, isActive)">
                <li class="page-item"
                    th:classappend="${disabledCondition} ? 'disabled' : '' + (${isActive} ? ' active' : '')">
                    <a class="page-link" th:href="@{/admin/products(
                    page=${page},
                    size=${productsPage.size},
                    sort=${currentSortField != null && !currentSortField.isEmpty() ? currentSortField + ',' + currentSortDir : null},
                    keyword=${criteria.keyword},
                    categoryId=${criteria.categoryId},
                    originId=${criteria.originId},
                    status=${criteria.status}
                )}" th:text="${text}"></a>
                </li>
            </th:block>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card mb-5">
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between background-color-primary">
                        <h5 class="m-0 fw-semibold text-color-primary">Danh sách sản phẩm</h5>
                        <a th:href="@{/admin/products/create}" class="cr-btn outline-btn color-success"><i
                                class="ri-add-line me-1"></i>Thêm</a>
                    </div>
                    <div class="mt-3 mx-3">
                        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show"
                            role="alert">
                            <span th:text="${successMessage}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show"
                            role="alert">
                            <span th:text="${errorMessage}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/products}" method="get" class="mb-4 form-filters"
                            th:object="${criteria}">
                            <div class="row g-3 align-items-end">
                                <div class="col-md-3">
                                    <label>Tìm theo tên</label>
                                    <input type="text" autocomplete="off" class="form-control form-control-sm"
                                        id="keyword" name="keyword" th:field="*{keyword}"
                                        placeholder="Nhập tên sản phẩm...">
                                </div>
                                <div class="col-md-2">
                                    <label>Lọc theo nguồn gốc</label>
                                    <select class="form-control form-select form-select-sm" th:field="*{categoryId}">
                                        <option value="">Tất cả danh mục</option>
                                        <option th:each="r : ${categories}" th:value="${r.id}" th:text="${r.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Lọc theo vai trò</label>
                                    <select class="form-control form-select form-select-sm" th:field="*{originId}">
                                        <option value="">Tất cả nguồn gốc</option>
                                        <option th:each="r : ${origins}" th:value="${r.id}" th:text="${r.name}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Lọc theo trạng thái</label>
                                    <select class="form-control form-select form-select-sm" th:field="*{status}">
                                        <option value="">Tất cả trạng thái</option>
                                        <option value="true">Bị khóa</option>
                                        <option value="false">Hoạt động</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label>Số mục hiển thị</label>
                                    <label for="pageSizeSelect" class="visually-hidden">Số mục</label>
                                    <select class="form-control form-select form-select-sm" id="pageSizeSelect"
                                        name="size">
                                        <option th:each="s : ${#lists.toList({5, 10, 20, 50})}" th:value="${s}"
                                            th:text="${s} + ' mục'" th:selected="${s == productsPage.size}"></option>
                                    </select>
                                </div>
                                <div class="col-md-auto ms-auto"><button type="submit"
                                        class="cr-btn default-btn color-primary"><i
                                            class="ri-filter-3-line me-1"></i>Lọc</button></div>
                                <div class="col-md-auto"><a th:href="@{/admin/products(size=${productsPage.size})}"
                                        class="cr-btn default-btn color-light"><i class="ri-refresh-line me-1"></i>Xóa
                                        lọc</a>
                                </div>
                            </div>
                            <input type="hidden" name="sort"
                                th:value="${currentSortField != null && !currentSortField.isEmpty() ? currentSortField + ',' + currentSortDir : ''}">
                        </form>

                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead class="table-light">
                                    <tr>
                                        <th class="sortable-header text-center">
                                            <div th:replace="~{this :: sort_header('id', 'ID')}"></div>
                                        </th>
                                        <th class="text-center">Ảnh</th>
                                        <th class="text-center">Tên sản phẩm</th>
                                        <th class="text-center">Danh mục</th>
                                        <th class="text-center">Nguồn gốc</th>
                                        <th class="sortable-header text-center">
                                            <div th:replace="~{this :: sort_header('basePrice', 'Giá')}"></div>
                                        </th>
                                        <th class="text-center">Trạng thái</th>
                                        <th class="sortable-header text-center">
                                            <div
                                                th:replace="~{this :: sort_header('lastModifiedDate', 'Lần cuối cập nhật')}">
                                            </div>
                                        </th>
                                        <th class="text-center">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${productsPage.content}">
                                        <td class="text-center text-color-gray" th:text="${product.id}"></td>
                                        <td class="text-center">
                                            <img style="max-width: 60px;"
                                                th:if="${product.images != null && !product.images.empty}"
                                                th:src="@{${product.images.?[isMain == true].get(0).imageUrl}}"
                                                th:alt="${product.name}" class="product-image-thumbnail"
                                                onerror="this.onerror=null; this.src='/shared/assets/images/default-product.png';">
                                            <img th:unless="${product.images != null && !product.images.empty}"
                                                th:src="@{/shared/assets/images/default-product.png}"
                                                alt="Default product image" class="product-image-thumbnail">
                                        </td>
                                        <td class="text-center text-color-gray" th:text="${product.name}"></td>
                                        <td class="text-center text-color-gray"
                                            th:text="${product.category != null ? product.category.name : 'N/A'}"></td>
                                        <td class="text-center text-color-gray"
                                            th:text="${product.origin != null ? product.origin.name : 'N/A'}"></td>
                                        <td class="text-center text-color-gray"
                                            th:text="${#numbers.formatDecimal(product.basePrice, 0, 'COMMA', 0, 'POINT')} + ' đ'">
                                        </td>
                                        <td class="text-center">
                                            <span th:if="${product.status}" class="badge rounded-pill bg-success">Kích
                                                hoạt</span>
                                            <span th:unless="${product.status}" class="badge rounded-pill bg-danger">Vô
                                                hiệu
                                                hóa</span>
                                        </td>
                                        <td class="text-center text-color-gray"
                                            th:text="${#temporals.format(product.getLastModifiedDate(), 'dd/MM/yyyy HH:mm')}">
                                        </td>
                                        <td class="text-center">
                                            <a th:href="@{/admin/products/detail/{id}(id=${product.id})}"
                                                class="btn btn-sm outline-btn color-info"><i
                                                    class="ri-eye-line"></i></a>
                                            <a th:href="@{/admin/products/edit/{id}(id=${product.id})}"
                                                class="btn btn-sm outline-btn color-warning m-2"><i
                                                    class="ri-pencil-line"></i></a>
                                            <form th:id="'deleteForm-' + ${product.id}"
                                                th:action="@{/admin/products/delete/{id}(id=${product.id})}"
                                                method="post" style="display: inline-block;">
                                                <button type="button" class="btn btn-sm outline-btn color-danger"
                                                    th:onclick="showConfirmDialog(
                                                    'deleteForm-[[${product.id}]]',
                                                    'Bạn có chắc chắn muốn xóa?',
                                                    'Sản phẩm \'[[${product.getName()}]]\' sẽ bị xóa vĩnh viễn!',
                                                    'Vâng, hãy xóa!')">
                                                    <i class="ri-delete-bin-line"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr th:if="${productsPage.empty}">
                                        <td colspan="9" class="text-center fst-italic py-3">Không tìm thấy sản phẩm
                                            nào.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <nav aria-label="Page navigation" th:if="${productsPage.totalPages > 1}">
                            <ul class="pagination justify-content-center">
                                <th:block th:replace="~{this :: page_link(0, 'Đầu', ${productsPage.first}, false)}" />
                                <th:block
                                    th:replace="~{this :: page_link(${productsPage.number - 1}, 'Trước', ${!productsPage.hasPrevious()}, false)}" />

                                <th:block th:each="i : ${#numbers.sequence(0, productsPage.totalPages - 1)}">
                                    <th:block
                                        th:replace="~{this :: page_link(${i}, ${i + 1}, false, ${i == productsPage.number})}" />
                                </th:block>

                                <th:block
                                    th:replace="~{this :: page_link(${productsPage.number + 1}, 'Sau', ${!productsPage.hasNext()}, false)}" />
                                <th:block
                                    th:replace="~{this :: page_link(${productsPage.totalPages - 1}, 'Cuối', ${productsPage.last}, false)}" />
                            </ul>
                        </nav>
                        <div class="text-center mt-2">
                            <small class="text-color-gray"
                                th:text="'Hiển thị ' + ${productsPage.numberOfElements} + ' trên tổng số ' + ${productsPage.totalElements} + ' Sản phẩm. (Trang ' + (${productsPage.number} + 1) + ' của ' + ${productsPage.totalPages} + ')'"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>