<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/admin-layout}">

<head>
    <title>Tạo sản phẩm - FruitCart</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <form th:action="@{/admin/products/create}" method="post" enctype="multipart/form-data"
                th:object="${pReqDTO}">
                <div class="col-md-12">
                    <div class="cr-card card-default">
                        <div class="cr-card-content">
                            <div class="row cr-product-uploads">
                                <div class="col-lg-4 mb-991">
                                    <div class="cr-vendor-img-upload">
                                        <div class="cr-vendor-main-img">
                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input type="file" id="product_main" class="cr-image-upload"
                                                        accept=".png, .jpg, .jpeg" name="mainImage">
                                                    <label><i class="ri-pencil-line"></i></label>
                                                </div>
                                                <div class="avatar-preview cr-preview">
                                                    <div class="imagePreview cr-div-preview">
                                                        <img class="cr-image-preview"
                                                            th:src="@{/admin/assets/img/product/preview.jpg}"
                                                            alt="edit">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumb-upload-set colo-md-12">
                                                <div class="thumb-upload-template" style="display: none;">
                                                    <div class="thumb-upload d-flex flex-column">
                                                        <div>
                                                            <div class="thumb-edit">
                                                                <input type="file" class="cr-image-upload thumb-input"
                                                                    accept=".png, .jpg, .jpeg">
                                                                <label><i class="ri-pencil-line"></i></label>
                                                            </div>
                                                            <div class="thumb-preview cr-preview">
                                                                <div class="image-thumb-preview">
                                                                    <img class="image-thumb-preview cr-image-preview"
                                                                        th:src="@{/admin/assets/img/product/preview.jpg}"
                                                                        alt="Ảnh con">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="button"
                                                            class="btn btn-sm btn-danger remove-thumb-btn mt-1"
                                                            title="Xóa ảnh này">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" id="addThumbnailBtn"
                                                class="btn btn-outline-primary mt-3">
                                                <i class="ri-add-line"></i> Thêm ảnh con
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="cr-vendor-upload-detail">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Tên sản phẩm</label>
                                                <input type="text" class="form-control slug-title" id="inputEmail4"
                                                    th:field="*{name}"
                                                    th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                                                    th:errors="*{name}"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Chọn danh mục</label> <select
                                                    class="form-control form-select" th:field="*{subcategoryId}"
                                                    th:classappend="${#fields.hasErrors('subcategoryId')} ? 'is-invalid' : ''">
                                                    <option value="">-- Chọn danh mục --</option>
                                                    <th:block th:each="category : ${categories}">
                                                        <optgroup
                                                            th:if="${category.subCategories != null and not #lists.isEmpty(category.subCategories) and category.subCategories.?[active == true].size() > 0}"
                                                            th:label="${category.name}">
                                                            <th:block
                                                                th:each="subCategories : ${category.subCategories}">
                                                                <option th:if="${subCategories.active}"
                                                                    th:value="${subCategories.id}"
                                                                    th:text="${subCategories.name}"></option>
                                                            </th:block>
                                                        </optgroup>
                                                    </th:block>
                                                </select>
                                                <div class="invalid-feedback"
                                                    th:if="${#fields.hasErrors('subcategoryId')}"
                                                    th:errors="*{subcategoryId}"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Giá cơ bản <span>( Việt Nam đồng
                                                        )</span></label>
                                                <input type="number" class="form-control" id="price1"
                                                    th:classappend="${#fields.hasErrors('basePrice')} ? 'is-invalid' : ''"
                                                    th:field="*{basePrice}">
                                                <div class="invalid-feedback" th:if="${#fields.hasErrors('basePrice')}"
                                                    th:errors="*{basePrice}"></div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Trạng thái</label>
                                                <select class="form-control" th:field="*{active}">
                                                    <option value="true">Hoạt động</option>
                                                    <option value="false">Không hoạt động</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Hàng thùng</label>
                                                <select class="form-control" th:field="*{bulk}">
                                                    <option value="false">Không</option>
                                                    <option value="true">Có</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label">Mô tả</label>
                                                <textarea class="form-control" rows="4"
                                                    th:field="*{description}"></textarea>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="cr-btn default-btn color-success" type="button"
                                                    id="addVariantBtn">Tạo biến thể sản phẩm</button>
                                            </div>
                                            <div id="variantsContainer">
                                                <div class="variant-group row" th:each="variant, stat : *{variants}"
                                                    th:id="'variant-' + ${stat.index}">
                                                    <div class="col-md-5">
                                                        <label class="form-label">Thuộc tính</label>
                                                        <input type="text" class="form-control"
                                                            th:field="*{variants[__${stat.index}__].attribute}"
                                                            th:classappend="${#fields.hasErrors('variants[__${stat.index}__].attribute')} ? 'is-invalid' : ''" />
                                                        <div class="invalid-feedback"
                                                            th:if="${#fields.hasErrors('variants[__${stat.index}__].attribute')}"
                                                            th:errors="*{variants[__${stat.index}__].attribute}"></div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label class="form-label">Giá:</label>
                                                        <input type="number" class="form-control"
                                                            th:field="*{variants[__${stat.index}__].price}"
                                                            th:classappend="${#fields.hasErrors('variants[__${stat.index}__].price')} ? 'is-invalid' : ''" />
                                                        <div class="invalid-feedback"
                                                            th:if="${#fields.hasErrors('variants[__${stat.index}__].price')}"
                                                            th:errors="*{variants[__${stat.index}__].price}"></div>
                                                    </div>
                                                    <div
                                                        class="col-md-2 d-flex justify-content-center align-items-center">
                                                        <button type="button" class="btn btn-danger"
                                                            th:onclick="|removeVariant(${stat.index})|">Xóa</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn cr-btn-primary">Tạo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block layout:fragment="extras-scripts">
        <script th:inline="javascript">
            $(document).ready(function () {
                $("#addThumbnailBtn").click(function () {
                    let $newThumbUpload = $(".thumb-upload-template .thumb-upload").clone();
                    let $input = $newThumbUpload.find(".thumb-input");

                    $input.val('');
                    $input.attr('name', 'thumbnailFiles');

                    let newId = 'thumbUpload' + ($(".thumb-upload-set .thumb-upload").length + 1);
                    $input.attr('id', newId);
                    $newThumbUpload.find('label').attr('for', newId);

                    $(".thumb-upload-set").append($newThumbUpload);
                    $newThumbUpload.show();
                });

                $(".thumb-upload-set").on("click", ".remove-thumb-btn", function () {
                    $(this).closest(".thumb-upload").remove();
                });
            });
            let variantIndex = [[${ #lists.size(pReqDTO.variants) }]] || 0;

            console.log(variantIndex)

            $('#addVariantBtn').on('click', function () {
                const newIndex = variantIndex++;
                const newVariantHtml = `
        <div class="variant-group row" id="variant-${newIndex}">
            <div class="col-md-5">
                <label class="form-label">Thuộc tính</label>
                <input class="form-control" type="text"
                       name="variants[${newIndex}].attribute"
                       th:classappend="#{#fields.hasErrors('variants[${newIndex}].attribute')} ? 'is-invalid' : ''" />
                <div class="invalid-feedback"
                     th:if="#{#fields.hasErrors('variants[${newIndex}].attribute')}"
                     th:text="#{T(org.thymeleaf.expressions.Fields).errors(#root, 'variants[${newIndex}].attribute')}">
                </div>
            </div>
            <div class="col-md-5">
                <label class="form-label">Giá biến thể:</label>
                <input class="form-control" type="number"
                       name="variants[${newIndex}].price"
                       th:classappend="#{#fields.hasErrors('variants[${newIndex}].price')} ? 'is-invalid' : ''" />
                <div class="invalid-feedback"
                     th:if="#{#fields.hasErrors('variants[${newIndex}].price')}"
                     th:text="#{T(org.thymeleaf.expressions.Fields).errors(#root, 'variants[${newIndex}].price')}">
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <button class="cr-btn default-btn color-danger" type="button"
                        onclick="removeVariant(${newIndex})">Xóa</button>
            </div>
        </div>
    `;
                $('#variantsContainer').append(newVariantHtml);
            });

            function removeVariant(index) {
                $('#variant-' + index).remove();
            }
        </script>
    </th:block>
</body>

</html>