<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/layouts/admin-layout}">

<head>
    <title>Chi tiết người dùng - FruitCart</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-xxl-3 col-xl-4 col-md-12">
                <div class="vendor-sticky-bar">
                    <div class="col-xl-12">
                        <div class="cr-card">
                            <div class="cr-card-content">
                                <div class="cr-vendor-block-img">
                                    <div class="cr-vendor-block-detail">
                                        <div class="profile-img">
                                            <img class="v-img" th:src="${user.avatar}" alt="vendor image">
                                        </div>
                                        <h5 class="name" th:text="${user.username}"></h5>
                                        <p th:text="${user.email}"></p>
                                        <div class="cr-settings">
                                            <a th:href="@{/admin/users/edit/{id}(id=${user.id})}"
                                                class="cr-btn-primary m-r-10">Sửa</a>
                                        </div>
                                    </div>
                                    <div class="cr-vendor-info">
                                        <ul>
                                            <li>
                                                <span class="label">Tên người dùng: </span>
                                                <span class="value"
                                                    th:text="${user.username} ?: 'Chưa cập nhật'"></span>
                                            </li>
                                            <li>
                                                <span class="label">Trạng thái:</span>
                                                <span class="value">
                                                    <span th:if="${user.active}" class="badge bg-success">HOẠT
                                                        ĐỘNG</span>
                                                    <span th:unless="${user.active}" class="badge bg-danger">BỊ
                                                        KHÓA</span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="label">Vai trò:</span>
                                                <span th:classappend="${user.role?.name == 'USER'} ? 'text-bg-secondary' : 
                                                (${user.role?.name == 'ADMIN'} ? 'text-bg-primary' : '')"
                                                    class="value badge"
                                                    th:text="${user.role?.name} ?: 'Chưa cập nhật'"></span>
                                            </li>
                                            <li>
                                                <span class="label">Giới tính:</span>
                                                <span class="value" th:switch="${user.gender?.name()}">
                                                    <span th:case="MALE">Nam</span>
                                                    <span th:case="FEMALE">Nữ</span>
                                                    <span th:case="OTHER">Khác</span>
                                                    <span th:case="*">Chưa cập nhật</span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="label">Số điện thoại:</span>
                                                <span class="value" th:text="${user.phone} ?: 'Chưa cập nhật'"></span>
                                            </li>
                                            <li>
                                                <span class="label">Địa chỉ: </span>
                                                <span class="value" th:text="${user.address} ?: 'Chưa cập nhật'"></span>
                                            </li>
                                            <li>
                                                <span class="label">Người tạo:</span>
                                                <span class="value" th:text="${user.createdBy} ?: 'System'"></span>
                                            </li>
                                            <li>
                                                <span class="label">Thời gian tạo:</span>
                                                <span class="value" th:if="${user.createdDate}"
                                                    th:text="${#temporals.format(user.createdDate, 'dd/MM/yyyy HH:mm')}"></span>
                                                <span class="value" th:unless="${user.createdDate}">N/A</span>
                                            </li>
                                            <li>
                                                <span class="label">Người sửa cuối:</span>
                                                <span class="value"
                                                    th:text="${user.lastModifiedBy} ?: 'Chưa cập nhật'"></span>
                                            </li>
                                            <li>
                                                <span class="label">Thời gian sửa cuối:</span>
                                                <span class="value" th:if="${user.lastModifiedDate}"
                                                    th:text="${#temporals.format(user.lastModifiedDate, 'dd/MM/yyyy HH:mm')}"></span>
                                                <span class="value" th:unless="${user.lastModifiedDate}">N/A</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 col-xl-8 col-md-12">

                <div class="cr-card vendor-profile">
                    <div class="cr-card-content vendor-details mb-m-30">

                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>