<div>
    <div class="cr-sidebar-overlay"></div>
    <div class="cr-sidebar" data-mode="light">
        <div class="cr-sb-logo">
            <a href="/" class="sb-full"><img th:src="@{/admin/assets/img/logo/full-logo.png}" alt="logo"></a>
            <a href="/" class="sb-collapse"><img th:src="@{/admin/assets/img/logo/collapse-logo.png}" alt="logo"></a>
        </div>
        <div class="cr-sb-wrapper">
            <div class="cr-sb-content">
                <ul class="cr-sb-list">
                    <li class="cr-sb-item">
                        <a th:href="@{/admin}">
                            <i class="ri-dashboard-3-line"></i><span class="condense">Dashboard</span></a>
                    </li>
                    <li class="cr-sb-item">
                        <a th:href="@{/admin/users}">
                            <i class="ri-user-3-line"></i><span class="condense">Người dùng</span></a>
                    </li>
                    <li class="cr-sb-item sb-drop-item">
                        <a href="javascript:void(0)" class="cr-drop-toggle">
                            <i class="ri-price-tag-3-line"></i><span class="condense">Danh mục<i
                                    class="drop-arrow ri-arrow-down-s-line"></i></span></a>
                        <ul class="cr-sb-drop condense" style="display: none;">
                            <li class="cr-sb-item">
                                <a th:href="@{/admin/categories}">
                                    <span class="condense">Danh mục</span></a>
                            </li>
                            <li class="cr-sb-item">
                                <a th:href="@{/admin/categories}">
                                    <span class="condense">Danh mục con</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>