<div>
    <div class="cr-sidebar-overlay"></div>
    <div class="cr-sidebar" data-mode="light">
        <div class="cr-sb-logo">
            <a href="/" class="sb-full"><img th:src="@{/admin/assets/img/logo/full-logo.png}" alt="logo"></a>
            <a href="/" class="sb-collapse"><img th:src="@{/admin/assets/img/logo/collapse-logo.png}" alt="logo"></a>
        </div>
        <div class="cr-sb-wrapper">
            <div class="cr-sb-content">
                <ul class="cr-sb-list">
                    <li class="cr-sb-item sb-drop-item">
                        <a href="/" class="cr-drop-toggle">
                            <i class="ri-dashboard-3-line"></i><span class="condense">Dashboard</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>